<app-progress *ngIf="dataLoading"></app-progress>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Medicine Return List
        </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/admin/admin-dashboard">Home</a></li>
                <li class="breadcrumb-item">Pharmacy</li>
                <li class="breadcrumb-item active">Medicine Return List</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales">
                    <div class="card-body pt-2">
                        <div class="row">
                            <mat-form-field appearance="outline" class="col-lg-4">
                                <mat-label>From Date</mat-label>
                                <input matInput [matDatepicker]="pickers" [(ngModel)]="opd.FromDate" name="FromDate"
                                    required />
                                <mat-datepicker-toggle matSuffix [for]="pickers"
                                    class="small-datepicker-icon"></mat-datepicker-toggle>
                                <mat-datepicker #pickers></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="col-lg-4">
                                <mat-label>To Date</mat-label>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="opd.ToDate" name="ToDate"
                                    required />
                                <mat-datepicker-toggle matSuffix [for]="picker"
                                    class="small-datepicker-icon"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <div class="col-md-2 form-group">
                                <button type="submit" mat-raised-button color="primary" style="margin-top: 5px;"
                                    (click)="getMedicineReturnList()" class="px-3 py-1 text-sm">
                                    Search
                                </button>
                            </div>
                            <div class="dataTable-top" style="padding: 10px 10px 10px 10px;">
                                <div class="dataTable-dropdown">
                                    <select class="dataTable-selector form-select form-select-sm"
                                        [(ngModel)]="itemPerPage">
                                        <option *ngFor="let option of pageSize" [value]="option">{{option}} </option>
                                    </select>
                                    &nbsp; entries per page
                                </div>
                                <div class="dataTable-search"><input
                                        class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                                        placeholder="Search..." type="text"></div>
                            </div>
                            <div class="col-lg-12 table-responsive">
                                <table class="table table-sm table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">Return Date</th>
                                            <th class="text-center">Return Code</th>
                                            <th class="text-center">Receipt No.</th>
                                            <th class="text-right">Amount</th>
                                            <th class="text-right">Disc.</th>
                                            <th class="text-right">Taxable Amount</th>
                                            <th class="text-right">CGST</th>
                                            <th class="text-right">SGST</th>
                                            <th class="text-right">IGST</th>
                                            <th class="text-right">Total Amount</th>
                                            <th class="text-center">Action</th>
                                            <!-- <th>Edit</th>
                                        <th>Delete</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let model of MedicineReturnList|filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; let i = index">
                                            <td class="text-center">{{(itemPerPage * (p -1)) +i+ 1}}</td>
                                            <td class="text-center">{{model.ReturnDate | date:'dd-MM-yyyy'}}</td>
                                            <td class="text-center">{{model.ReturnCode}}</td>
                                            <td class="text-center">{{model.ReceiptNo}}</td>
                                            <td class="text-right">{{model.TotalAmount}}</td>
                                            <td class="text-right">{{model.TotalDiscountAmount}}</td>
                                            <td class="text-right">{{model.TotalTaxableAmount}}</td>
                                            <td class="text-right">{{model.TotalCGSTAmount }}</td>
                                            <td class="text-right">{{model.TotalSGSTAmount }}</td>
                                            <td class="text-right">{{model.TotalIGSTAmount }}</td>
                                            <td class="text-right">{{model.TotalGrossAmount}}</td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-warning" (click)="getMedicineReturnItemList(model)"><i
                                                        class="bi bi-pencil-square"></i> </button>
                                            </td>
                                            <!-- <td>
                                                <button class="btn btn-sm btn-warning" (click)="editSale(model)"><i
                                                        class="bi bi-pencil-square"></i> </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-danger" (click)="deleteSale(model)"><i
                                                        class="bi bi-trash-fill"></i></button>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center" style="font-weight: 600;">TOTAL</td>
                                            <td class="text-right" style="font-weight: 600;">{{SaleTotal.TotalAmount|number}}</td>
                                            <td class="text-right" style="font-weight: 600;">{{SaleTotal.TotalDiscountAmount|number}}</td>
                                            <td class="text-right" style="font-weight: 600;">{{SaleTotal.TotalTaxableAmount|number}}</td>
                                            <td class="text-right" style="font-weight: 600;">{{SaleTotal.TotalCGSTAmount|number}}</td>
                                            <td class="text-right" style="font-weight: 600;">{{SaleTotal.TotalSGSTAmount|number}}</td>
                                            <td class="text-right" style="font-weight: 600;">{{SaleTotal.TotalIGSTAmount|number}}</td>
                                            <td class="text-right" style="font-weight: 600;">{{SaleTotal.TotalGrossAmount|number}}</td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <div class="dataTable-bottom">
                                <pagination-controls (pageChange)="onTableDataChange($event)" style="float: right;"
                                    class="my-pagination"></pagination-controls>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>
</main>

<div id="modal_popUp" class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Medicine Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-sm" id="table_list">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Medicine Name</th>
                                    <th>Unit</th>
                                    <th>Amount</th>
                                    <th>Qty.</th>
                                    <th>Return Qty.</th>
                                    <th>Disc. %</th>
                                    <th>Disc. Amt.</th>
                                    <th>Taxable Amt.</th>
                                    <th>GST %</th>
                                    <th>CGST</th>
                                    <th>SGST</th>
                                    <th>IGST</th>
                                    <th>Total</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr *ngFor="let model of MedicineReturnItemList;let i = index">
                                    <td>{{ i+1}}</td>
                                    <td>{{model.MedicineName}}</td>
                                    <td>{{model.UnitName}}</td>
                                    <td>{{model.Amount}}</td>
                                    <td>{{model.Quantity}}</td>
                                    <td>{{model.ReturnQuantity}}</td>
                                    <td>{{model.DiscountPercentages}}</td>
                                    <td>{{model.DiscountAmount}}</td>
                                    <td>{{model.TaxableAmount}}</td>
                                    <td>{{model.GSTValue}}</td>
                                    <td>{{model.CGSTAmount}}</td>
                                    <td>{{model.SGSTAmount}}</td>
                                    <td>{{model.IGSTAmount}}</td>
                                    <td>{{model.TotalAmount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>