<app-progress *ngIf="dataLoading"></app-progress>

<main id="main" class="main" *ngIf="action.ResponseReceived">
  <div class="row">
    <div class="pagetitle dashboard col-sm-8">
      <h1>{{ action.MenuTitle || 'Manufacturer Master' }}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/admin/admin-dashboard">Home</a></li>
          <li class="breadcrumb-item">{{ action.ParentMenuTitle || 'Pharmacy' }}</li>
          <li class="breadcrumb-item active">{{ action.MenuTitle || 'Manufacturer Master' }}</li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-4 text-end">
      <button mat-raised-button color="primary" *ngIf="action.CanCreate"
              data-bs-toggle="modal" data-bs-target="#staticBackdrop"
              (click)=" newManufacturer()">
        Add New Manufacturer
      </button>
    </div>
  </div>
  <section class="section dashboard">
        <div class="card">
            <div class="card-body ">
                <div class="dataTable-top">
                    <div class="dataTable-dropdown d-flex">
                        <select class="dataTable-selector form-select form-select-sm" [(ngModel)]="itemPerPage">
                            <option *ngFor="let option of pageSize" [value]="option">{{option}} </option>
                        </select>
                        <span class="ms-2">Entries per page</span>
                    </div>
                    <div class="dataTable-search">
                        <input class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                            placeholder="Search..." type="text">
                    </div>
                </div>
                <div class="table-container overflow-auto">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">S.No</th>
                                <th class="text-left" *ngIf="action.CanCreate" (click)="sort('ManufacturerName')">Manufacturer Name</th>
                                <th class="text-center" style="cursor:pointer;" (click)="sort('Status')">Status</th>
                                <th class="text-center" *ngIf="action.CanEdit">Edit</th>
                                <th class="text-center" *ngIf="action.CanDelete">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr 
                                *ngFor="let item of ManufacturerList |filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; ; let i = index;">
                                <td class="text-center">{{(itemPerPage * (p -1)) +i+ 1}}</td>
                               
                                <td  class=" text-left">{{item.ManufacturerName}}</td>
                                <td class="text-center">
                                    <span class="p-1"
                                        [ngClass]="item.Status == 1 ? 'badge text-bg-success':'badge text-bg-danger'">
                                        {{AllStatusList[item.Status]}}
                                    </span>
                                </td>
                                <td class="text-center" *ngIf="action.CanEdit">
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop" (click)="editManufacturer(item)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td >
                                <td class="text-center" *ngIf="action.CanDelete">
                                    <button class="btn btn-sm btn-danger" (click)="deleteManufacturer(item)">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="dataTable-bottom">
                    <pagination-controls (pageChange)="onTableDataChange($event)" style="float:right;"
                        class="my-pagination"></pagination-controls>
                </div>

            </div>
        </div>

    </section>

  <!-- Modal -->
  <div *ngIf="action.CanEdit || action.CanCreate"
       class="modal fade" id="staticBackdrop"
       data-bs-backdrop="static" data-bs-keyboard="false"
       tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            {{ Manufacturer.ManufacturerId > 0 ? 'Update' : 'New' }} Manufacturer
          </h1>
          <button type="button" class="btn-close"
                  data-bs-dismiss="modal" aria-label="Close"
                  (click)="resetForm()"></button>
        </div>
        <div class="modal-body">
          <form #formManufacturer="ngForm">
            <div class="container">
              <div class="row">
                <mat-form-field appearance="outline" class="col-sm-6">
                  <mat-label>Manufacturer Name</mat-label>
                  <input matInput #ManufacturerName="ngModel" name="ManufacturerName"
                         [(ngModel)]="Manufacturer.ManufacturerName" required autofocus>
                  <mat-error *ngIf="ManufacturerName.invalid && (ManufacturerName.dirty || ManufacturerName.touched || submitted)">
                    Manufacturer Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline" class="col-sm-6">
                  <mat-label>Status</mat-label>
                  <mat-select #Status [(ngModel)]="Manufacturer.Status" name="Status" required>
                    <mat-option value="">--Select Status--</mat-option>
                    <mat-option *ngFor="let model of StatusList" [value]="model.Key">
                      {{ model.Value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          
          <button mat-raised-button color="warn"  data-bs-dismiss="modal"  (click)="resetForm()">Cancel</button>
          <button mat-raised-button color="primary" (click)="saveManufacturer()">{{Manufacturer.ManufacturerId > 0 ? 'Update':'Submit'}}</button>
        </div>
      </div>
    </div>
  </div>
</main>
