<app-progress *ngIf="dataLoading"></app-progress>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Purchase Medicine Return
            <!-- <a class="text-link" style="float: right;font-size: 14px;" [routerLink]="'medicine-purchase-list'"> Purchase List</a> -->
        </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/admin/admin-dashboard">Home</a></li>
                <li class="breadcrumb-item">Pharmacy</li>
                <li class="breadcrumb-item active">Purchase Medicine Return</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales pt-3">
                    <div class="card-body">
                        <form #formPurchase="ngForm">
                            <div class="row">
                                <!-- <div class="col-sm-4 form-group">
                                    <label class="form-label">Supplier</label>
                                    <select class="form-select" #SupplierId="ngModel" [(ngModel)]="Purchase.SupplierId"
                                        name="SupplierId" (change)="calculateGST()"
                                        [ngClass]="{'is-invalid': submitted && submitted && SupplierId.invalid}"
                                        (change)="getMedicineStockListBySupplier()" required autofocus>
                                        <option value="">--Select Supplier--</option>
                                        <option [value]="model.SupplierId" *ngFor="let model of SupplierList">
                                            {{model.SupplierName}}</option>
                                    </select>
                                    <div *ngIf="SupplierId.invalid && (SupplierId.dirty || SupplierId.touched || submitted)"
                                        class="text-danger">
                                        <div *ngIf="SupplierId.errors?.['required']">
                                            Supplier is required.
                                        </div>
                                    </div>
                                </div> -->
                                <mat-form-field appearance="outline" class="col-lg-4">
                                    <mat-label>Supplier</mat-label>
                                    <input matInput #SupplierId="ngModel" name="SupplierName"
                                        placeholder="Search By Supplier" [(ngModel)]="Purchase.SupplierName"
                                        (ngModelChange)="filterSupplierList($event)" [matAutocomplete]="autoSupplier"
                                        required />
                                    <mat-autocomplete #autoSupplier="matAutocomplete"
                                        (optionSelected)="onSupplierSelected($event.option.value, $event.option.id)">
                                        <mat-option *ngFor="let options of SupplierDetailList"
                                            [value]="options.SupplierName" [id]="options.SupplierId">
                                            {{ options.SupplierName }}
                                        </mat-option>
                                    </mat-autocomplete>

                                    <button mat-icon-button matSuffix *ngIf="Purchase.SupplierName" color="primary"
                                        (click)="clearSupplier()">
                                        <mat-icon><i class="ri-close-circle-line"></i></mat-icon>
                                    </button>

                                    <mat-error>Required field !!</mat-error>
                                </mat-form-field>

                                <!-- <div class="col-sm-3 form-group">
                                    <label class="form-label">Invoice No</label>
                                    <input type="text" placeholder="Enter Invoice No" #InvoiceNo="ngModel"
                                        [(ngModel)]="Purchase.InvoiceNo" name="InvoiceNo" class="form-control"
                                        [ngClass]="{'is-invalid': submitted && submitted && InvoiceNo.invalid}" required autofocus>
        
                                    <div *ngIf="InvoiceNo.invalid && (InvoiceNo.dirty || InvoiceNo.touched || submitted)"
                                        class="text-danger">
                                        <div *ngIf="InvoiceNo.errors?.['required']">
                                            Invoice No is required.
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="col-sm-3 form-group">
                                    <label class="form-label">Return Date</label>
                                    <input type="date" placeholder="Enter Return Date" #ReturnDate="ngModel"
                                        [(ngModel)]="Purchase.ReturnDate" name="ReturnDate" class="form-control"
                                        [ngClass]="{'is-invalid': submitted && submitted && ReturnDate.invalid}"
                                        required autofocus>

                                    <div *ngIf="ReturnDate.invalid && (ReturnDate.dirty || ReturnDate.touched || submitted)"
                                        class="text-danger">
                                        <div *ngIf="ReturnDate.errors?.['required']">
                                            Return Date is required.
                                        </div>
                                    </div>
                                </div> -->

                                <mat-form-field appearance="outline" class="col-lg-3">
                                        <mat-label>Return Date</mat-label>
                                        <input matInput [matDatepicker]="picker"
                                            [(ngModel)]="Purchase.ReturnDate" name="ReturnDate" required />
                                        <mat-datepicker-toggle matSuffix [for]="picker"
                                            class="small-datepicker-icon"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                            </div>
                        </form>
                        <div class="list-group">
                            <a >
                                Medicines
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <form #formPurchaseProduct="ngForm">
                                    <div class="row">
                                        <!-- <div class="col-sm-3 form-group">
                                            <label class="form-label">Medicine <span
                                                    class="text-danger">*</span></label>
                                            <ng-autocomplete [data]="MedicineStockListBySupplier"
                                                [searchKeyword]="'SearchMedicineForReturn'"
                                                placeholder="Enter Medicine Name/HSN Code"
                                                (selected)='afterMedicineSelected($event)' name="MedicineAutoComplete"
                                                [itemTemplate]="MedicineItemTemplate"
                                                [notFoundTemplate]="MedicineNotFoundTemplate"
                                                #MedicineAutoComplete="ngModel"
                                                [(ngModel)]="PurchaseProduct.MedicineAutoComplete"
                                                [isLoading]="dataLoading" (inputCleared)="clearMedicine()"
                                                [minQueryLength]="1" required="required"
                                                [autofocus]="PurchaseProduct.PurchaseProduct">
                                            </ng-autocomplete>

                                            <ng-template #MedicineItemTemplate let-item>
                                                <a [innerHTML]="item.SearchMedicineForReturn"></a>
                                            </ng-template>

                                            <ng-template #MedicineNotFoundTemplate let-notFound>
                                                <div>
                                                    <a class="new-link" data-bs-toggle="modal"
                                                        data-bs-target="#modal_Medicine">New Medicine</a>
                                                </div>
                                            </ng-template>
                                            <div *ngIf="MedicineAutoComplete.invalid && (MedicineAutoComplete.dirty || MedicineAutoComplete.touched)"
                                                class="text-danger">
                                                <div *ngIf="MedicineAutoComplete.errors?.['required']">
                                                    Medicine is required.
                                                </div>
                                            </div>
                                        </div> -->


                                        <mat-form-field appearance="outline" class="col-lg-3">
                                        <mat-label>Medicine </mat-label>
                                        <input matInput #MedicineId="ngModel" name="MedicineName"
                                            (ngModelChange)="filterMedicineList($event)"
                                            placeholder="Search By Medicine" [(ngModel)]="PurchaseProduct.MedicineName"
                                            [matAutocomplete]="autoMedicine" required />
                                        <mat-autocomplete #autoMedicine="matAutocomplete"
                                            (optionSelected)="afterMedicineSelected($event)">
                                            <mat-option *ngFor="let options of MedicineDetailList"
                                                [id]="options.MedicineId" [value]="options.MedicineName">{{
                                                options.MedicineName }}</mat-option>
                                        </mat-autocomplete>
                                        <button mat-icon-button matSuffix *ngIf="PurchaseProduct.MedicineName" color="primary"
                                            (click)="clearMedicine()">
                                            <mat-icon><i class="ri-close-circle-line"></i> </mat-icon>
                                        </button>
                                        <mat-error>Required field !!</mat-error>
                                    </mat-form-field>
                                        <!-- <div class="col-sm-2 form-group">
                                            <label class="form-label">Batch No <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" placeholder="Batch No" #BatchNo="ngModel"
                                                [(ngModel)]="PurchaseProduct.BatchNo" name="BatchNo"
                                                class="form-control" disabled="disabled"
                                                [ngClass]="{'is-invalid': isSubmittedPurchaseProduct &&  BatchNo.invalid}"
                                                required autofocus>

                                            <div *ngIf="BatchNo.invalid && (BatchNo.dirty || BatchNo.touched )"
                                                class="text-danger">
                                                <div *ngIf="BatchNo.errors?.['required']">
                                                    Batch No is required.
                                                </div>
                                            </div>
                                        </div> -->

                                        <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>Batch No</mat-label>
                                        <input matInput #BatchNo="ngModel" name="BatchNo"
                                            [(ngModel)]="PurchaseProduct.BatchNo" required autofocus>
                                        <mat-error
                                            *ngIf="(BatchNo.dirty  || BatchNo.touched) || (BatchNo.invalid && submitted)">
                                            Batch No is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>

<!--                                     
                                        <div class="col-sm-2 form-group">
                                            <label class="form-label">HSN Code <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" placeholder="HSN Code" #HSNCode="ngModel"
                                                [(ngModel)]="PurchaseProduct.HSNCode" name="HSNCode"
                                                class="form-control" disabled="disabled"
                                                [ngClass]="{'is-invalid': isSubmittedPurchaseProduct && HSNCode.invalid}"
                                                required autofocus>

                                            <div *ngIf="HSNCode.invalid && (HSNCode.dirty || HSNCode.touched )"
                                                class="text-danger">
                                                <div *ngIf="HSNCode.errors?.['required']">
                                                    HSN Code is required.
                                                </div>
                                            </div>
                                        </div> -->

                                        <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>HSN Code</mat-label>
                                        <input matInput #HSNCode="ngModel" name="HSNCode"
                                            [(ngModel)]="PurchaseProduct.HSNCode" required autofocus>
                                        <mat-error
                                            *ngIf="(HSNCode.dirty  || HSNCode.touched) || (HSNCode.invalid && submitted)">
                                            Batch No is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>

<!--                                     
                                        <div class="col-sm-1 form-group">
                                            <label class="form-label">MRP <span class="text-danger">*</span></label>
                                            <input type="number" placeholder="MRP" #MRP="ngModel" disabled="disabled"
                                                [(ngModel)]="PurchaseProduct.MRP" name="MRP" class="form-control"
                                                [ngClass]="{'is-invalid': isSubmittedPurchaseProduct && MRP.invalid}"
                                                required autofocus>

                                            <div *ngIf="MRP.invalid && (MRP.dirty || MRP.touched)" class="text-danger">
                                                <div *ngIf="MRP.errors?.['required']">
                                                    MRP is required.
                                                </div>
                                            </div>
                                        </div> -->
                                        <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>MRP </mat-label>
                                        <input type="number" class="no-spinner" matInput #MRP="ngModel" name="MRP"
                                            [(ngModel)]="PurchaseProduct.MRP" required autofocus>
                                        <mat-error *ngIf="(MRP.dirty  || MRP.touched) || (MRP.invalid && submitted)">
                                            Batch No is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>

                                        <!-- <div class="col-sm-1 form-group">
                                            <label class="form-label">Rate <span class="text-danger">*</span></label>
                                            <input type="number" placeholder="Rate" #Rate="ngModel"
                                                [(ngModel)]="PurchaseProduct.Rate" name="Rate" class="form-control"
                                                disabled="disabled"
                                                [ngClass]="{'is-invalid': isSubmittedPurchaseProduct && Rate.invalid}"
                                                required autofocus>

                                            <div *ngIf="Rate.invalid && (Rate.dirty || Rate.touched )"
                                                class="text-danger">
                                                <div *ngIf="Rate.errors?.['required']">
                                                    Rate is required.
                                                </div>
                                            </div>
                                        </div> -->
                                        <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>Rate </mat-label>
                                        <input type="number" class="no-spinner" matInput #Rate="ngModel" name="Rate"
                                            [(ngModel)]="PurchaseProduct.Rate"  required autofocus>
                                        <mat-error *ngIf="(Rate.dirty  || Rate.touched) || (Rate.invalid && submitted)">
                                            Batch No is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>

                                        <!-- <div class="col-sm-1 form-group">
                                            <label class="form-label">Dis. (%)</label>
                                            <input type="number" placeholder="Discount (%)" #DiscountPercent="ngModel"
                                                disabled="disabled" [(ngModel)]="PurchaseProduct.DiscountPercent"
                                                name="DiscountPercent" class="form-control">
                                        </div> -->

                                        <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>Discount (%) </mat-label>
                                        <input type="number" class="no-spinner" matInput #DiscountPercent="ngModel"
                                            name="DiscountPercent" [(ngModel)]="PurchaseProduct.DiscountPercent" 
                                            autofocus>
                                    </mat-form-field>

                                        <!-- <div class="col-sm-1 form-group">
                                            <label class="form-label">Cost <span class="text-danger">*</span></label>
                                            <input type="number" placeholder="Cost Amount" #CostPrice="ngModel"
                                                [(ngModel)]="PurchaseProduct.CostPrice" name="CostPrice"
                                                class="form-control" disabled="disabled"
                                                [ngClass]="{'is-invalid': isSubmittedPurchaseProduct && CostPrice.invalid}"
                                                required autofocus>

                                            <div *ngIf="CostPrice.invalid && (CostPrice.dirty || CostPrice.touched )"
                                                class="text-danger">
                                                <div *ngIf="CostPrice.errors?.['required']">
                                                    Cost Amount is required.
                                                </div>
                                            </div>
                                        </div> -->

                                        <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                        <mat-label>Cost<span class="text-danger"></span></mat-label>
                                        <input matInput type="number" placeholder="Cost Amount" #CostAmount="ngModel"
                                            name="CostAmount" [(ngModel)]="PurchaseProduct.CostAmount"
                                            readonly="readonly"  autofocus
                                             />
                                    </mat-form-field>



                                        <!-- <div class="col-sm-1 form-group">
                                            <label class="form-label">Qty. <span class="text-danger">*</span></label>
                                            <input type="number" placeholder="Qty." #Quantity="ngModel"
                                                (change)="changeCostAmount(PurchaseProduct)"
                                                [(ngModel)]="PurchaseProduct.Quantity" name="Quantity"
                                                class="form-control"
                                                [ngClass]="{'is-invalid': isSubmittedPurchaseProduct && Quantity.invalid}"
                                                required autofocus>

                                            <div *ngIf="Quantity.invalid && (Quantity.dirty || Quantity.touched )"
                                                class="text-danger">
                                                <div *ngIf="Quantity.errors?.['required']">
                                                    required
                                                </div>
                                            </div>
                                        </div> -->
                                         <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>Qty. </mat-label>
                                        <input type="number" class="no-spinner" matInput #Qty="ngModel" name="Quantity"
                                            [(ngModel)]="PurchaseProduct.Quantity" (change)="changeCostAmount(PurchaseProduct)" required autofocus>
                                        <mat-error *ngIf="(Qty.dirty  || Qty.touched) || (Qty.invalid && submitted)">
                                            Qty. is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>

<!-- 
                                        <div class="col-sm-1 form-group">
                                            <label class="form-label">Unit </label>
                                            <select class="form-select" #UnitId="ngModel" disabled="disabled"
                                                [(ngModel)]="PurchaseProduct.UnitId" name="UnitId" required autofocus>
                                                <option value="">--Unit--</option>
                                                <option [value]="model.UnitId" *ngFor="let model of UnitList">
                                                    {{model.UnitName}}</option>
                                            </select>
                                        </div> -->

                                        <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                        <mat-label>Unit</mat-label>
                                        <mat-select #UnitId="ngModel" [(ngModel)]="PurchaseProduct.UnitId" name="UnitId" [disabled]="true" required
                                            autofocus>
                                            <mat-option value="">--Unit--</mat-option>
                                            <mat-option *ngFor="let model of UnitList" [value]="model.UnitId">
                                                {{ model.UnitName }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="UnitId.invalid && (UnitId.dirty || UnitId.touched)">
                                            Unit is required.
                                        </mat-error>
                                    </mat-form-field>


                                        <!-- <div class="col-sm-1 form-group">
                                            <label class="form-label">Taxable <span class="text-danger">*</span></label>
                                            <input type="number" disabled="disabled" placeholder="Taxable Amount"
                                                #TaxableAmount="ngModel" [(ngModel)]="PurchaseProduct.TaxableAmount"
                                                name="TaxableAmount" class="form-control">
                                        </div> -->

                                        <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>Taxable </mat-label>
                                        <input type="number" class="no-spinner" matInput #Taxable="ngModel"
                                            name="Taxable" [(ngModel)]="PurchaseProduct.TaxableAmount" readonly
                                            autofocus>
                                    </mat-form-field>


                                        <!-- <div class="col-sm-1 form-group">
                                            <label class="form-label">GST %</label>
                                            <select class="form-select" #GSTId="ngModel" disabled="disabled"
                                                [(ngModel)]="PurchaseProduct.GSTId" name="GSTId">
                                                <option value="">--GST--</option>
                                                <option [value]="model.GSTId" *ngFor="let model of GSTList">
                                                    {{model.GSTName}}</option>
                                            </select>
                                        </div> -->

                                         <mat-form-field appearance="outline" class="col-sm-3 form-group">
                                        <mat-label>GST %</mat-label>
                                        <mat-select #GSTId="ngModel" name="GSTId" [(ngModel)]="PurchaseProduct.GSTId" [disabled]="true ">
                                            <mat-option value="">--GST--</mat-option>
                                            <mat-option *ngFor="let model of GSTList" [value]="model.GSTId">
                                                {{ model.GSTName }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>


                                        <!-- <div class="col-sm-1 form-group">
                                            <label class="form-label">GST ₹ </label>
                                            <input type="number" disabled="disabled" placeholder="GST Amount"
                                                [value]="PurchaseProduct.TotalGSTAmount" class="form-control">
                                        </div> -->

                                        <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>GST ₹ </mat-label>
                                        <input type="number" class="no-spinner" readonly matInput #Taxable="ngModel"
                                            name="TotalGSTAmount" [(ngModel)]="PurchaseProduct.TotalGSTAmount"
                                            autofocus>

                                    </mat-form-field>
                                        <!-- <div class="col-sm-2 form-group">
                                            <label class="form-label">Grand ₹ <span class="text-danger">*</span></label>
                                            <input type="number" disabled="disabled" placeholder="Grand Total"
                                                #GrandTotal="ngModel" [(ngModel)]="PurchaseProduct.GrandTotal"
                                                name="GrandTotal" class="form-control">
                                        </div> -->

                                        <mat-form-field appearance="outline" class="col-sm-2">
                                        <mat-label>Grand ₹ </mat-label>
                                        <input type="number" class="no-spinner" readonly matInput #Taxable="ngModel"
                                            name="GrandTotal" [(ngModel)]="PurchaseProduct.GrandTotal" autofocus>

                                    </mat-form-field>

                                        <!-- <div class="col-sm-2 form-group">
                                            <label class="form-label">Expired Date <span
                                                    class="text-danger">*</span></label>
                                            <input type="date" placeholder="Expired Date" #ExpiredDate="ngModel"
                                                [(ngModel)]="PurchaseProduct.ExpiredDate" name="ExpiredDate"
                                                class="form-control" disabled="disabled"
                                                [ngClass]="{'is-invalid': isSubmittedPurchaseProduct && ExpiredDate.invalid}"
                                                required autofocus>

                                            <div *ngIf="ExpiredDate.invalid && (ExpiredDate.dirty || ExpiredDate.touched )"
                                                class="text-danger">
                                                <div *ngIf="ExpiredDate.errors?.['required']">
                                                    Expired Date is required.
                                                </div>
                                            </div>
                                        </div> -->
                                        <mat-form-field appearance="outline" class="col-lg-3">
                                        <mat-label>Expired Date</mat-label>
                                        <input matInput [matDatepicker]="picker"
                                            [(ngModel)]="PurchaseProduct.ExpiredDate" name="ExpiredDate" required />
                                        <mat-datepicker-toggle matSuffix [for]="picker"
                                            class="small-datepicker-icon"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                        <div class="col-sm-1 form-group">
                                            <!-- <label class="form-label">Add</label> -->
                                            <!-- <button class="btn btn-primary" (click)="addPurchaseProduct()">Add</button> -->
                                            <button mat-raised-button color="primary"
                                            style="margin-top: 5px; margin-left: 10px"
                                            (click)="addPurchaseProduct()">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </a>
                            <a class="list-group-item list-group-item-action" *ngIf="PurchaseProductList.length > 0">
                                <div class="row">
                                    <div class="col-sm-12 table-responsive">
                                        <table class="table table-bordered table-hover table-sm" id="table_list">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Medicine Name</th>
                                                    <th>Batch No.</th>
                                                    <th>HSN Code</th>
                                                    <th>MRP</th>
                                                    <th>Rate</th>
                                                    <th>Discount %</th>
                                                    <th>Cost Amount</th>
                                                    <th>Quantity</th>
                                                    <th>Unit</th>
                                                    <!-- <th>Basic Amt.</th> -->
                                                    <th>Taxable Amt.</th>
                                                    <th>GST</th>
                                                    <th>CGST</th>
                                                    <th>SGST</th>
                                                    <th>IGST</th>
                                                    <th>Grand Total</th>
                                                    <th>ExpiredDate</th>
                                                    <th class="text-right">Action</th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                                <tr *ngFor="let model of PurchaseProductList;let i = index">
                                                    <td>{{ i+1}}</td>
                                                    <td>{{model.MedicineName}}</td>
                                                    <td>{{model.BatchNo}}</td>
                                                    <td>{{model.HSNCode}}</td>
                                                    <td>₹{{model.MRP}}</td>
                                                    <td>₹{{model.Rate}}</td>
                                                    <td>{{model.DiscountPercent}}%</td>
                                                    <td>₹{{model.CostPrice}}</td>
                                                    <td>{{model.Quantity}}</td>
                                                    <td>{{model.UnitName}}</td>
                                                    <!-- <td>₹{{model.BasicAmount}}</td> -->
                                                    <td>₹{{model.TaxableAmount}}</td>
                                                    <td>{{model.GSTValue}} %</td>
                                                    <td>₹{{model.CGSTAmount}}</td>
                                                    <td>₹{{model.SGSTAmount}}</td>
                                                    <td>₹{{model.IGSTAmount}}</td>
                                                    <td>₹{{model.GrandTotal}}</td>
                                                    <td>{{model.ExpiredDate | date:'dd-MM-yyyy'}}</td>
                                                    <td>
                                                        <button (click)="RemovePurchaseProduct(i)"
                                                            class="btn btn-sm btn-danger"><i
                                                                class="bi bi-trash-fill"></i></button>
                                                                
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="list-group" style="margin-top: 10px;">
                            <a class="list-group-item list-group-item-action">
                                <form #formPurchase="ngForm">
                                   <div class="row">
                                        <!-- <div class="col-sm-2 form-group">
                                            <label class="form-label">Total Cost Amount <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" disabled="disabled" #TotalCostAmount="ngModel"
                                                [(ngModel)]="Purchase.TotalCostAmount" name="TotalCostAmount"
                                                class="form-control">
                                        </div> -->

                                         <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>Total Cost </mat-label>
                                        <input type="number" class="no-spinner" readonly matInput #TotalCostAmount="ngModel"
                                            name="TotalCostAmount" [(ngModel)]="Purchase.TotalCostAmount" autofocus>

                                    </mat-form-field>

                                        <!-- <div class="col-sm-2 form-group">
                                            <label class="form-label">Total Basic Amount <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" disabled="disabled" #TotalBasicAmount="ngModel"
                                                [(ngModel)]="Purchase.TotalBasicAmount" name="TotalBasicAmount"
                                                class="form-control">
                                        </div> -->

                                        <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>Total Basic Amount</mat-label>
                                        <input type="number" class="no-spinner" readonly matInput #TotalBasicAmount="ngModel"
                                            name="TotalBasicAmount" [(ngModel)]="Purchase.TotalBasicAmount" autofocus>

                                    </mat-form-field>

                                        <!-- <div class="col-sm-2 form-group">
                                            <label class="form-label">Total Discount Amount <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" disabled="disabled" #TotalDiscountAmount="ngModel"
                                                [(ngModel)]="Purchase.TotalDiscountAmount" name="TotalDiscountAmount"
                                                class="form-control">
                                        </div> -->

                                        <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>Total Discount Amount</mat-label>
                                        <input type="number" class="no-spinner" readonly matInput #TotalDiscountAmount="ngModel"
                                            name="TotalDiscountAmount" [(ngModel)]="Purchase.TotalDiscountAmount" autofocus>
                                    </mat-form-field>
                                        <!-- <div class="col-sm-2 form-group">
                                            <label class="form-label">Total Taxable Amount <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" disabled="disabled" #TotalTaxableAmount="ngModel"
                                                [(ngModel)]="Purchase.TotalTaxableAmount" name="TotalTaxableAmount"
                                                class="form-control">
                                        </div> -->

                                        <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>Total Taxable Amount</mat-label>
                                        <input type="number" class="no-spinner" readonly matInput #TotalTaxableAmount="ngModel"
                                            name="TotalTaxableAmount" [(ngModel)]="Purchase.TotalTaxableAmount" autofocus>
                                    </mat-form-field>

                                        <!-- <div class="col-sm-2 form-group">
                                            <label class="form-label">Total CGST Amount <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" disabled="disabled" #TotalCGSTAmount="ngModel"
                                                [(ngModel)]="Purchase.TotalCGSTAmount" name="TotalCGSTAmount"
                                                class="form-control">
                                        </div> -->

                                        <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>Total CGST Amount</mat-label>
                                        <input type="number" class="no-spinner" readonly matInput #TotalCGSTAmount="ngModel"
                                            name="TotalCGSTAmount" [(ngModel)]="Purchase.TotalCGSTAmount" autofocus>
                                    </mat-form-field>

                                        <!-- <div class="col-sm-2 form-group">
                                            <label class="form-label">Total SGST Amount <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" disabled="disabled" #TotalSGSTAmount="ngModel"
                                                [(ngModel)]="Purchase.TotalSGSTAmount" name="TotalSGSTAmount"
                                                class="form-control">
                                        </div> -->

                                        <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>Total SGST Amount</mat-label>
                                        <input type="number" class="no-spinner" readonly matInput #TotalSGSTAmount="ngModel"
                                            name="TotalSGSTAmount" [(ngModel)]="Purchase.TotalSGSTAmount" autofocus>
                                    </mat-form-field>

                                        <!-- <div class="col-sm-2 form-group">
                                            <label class="form-label">Total IGST Amount <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" disabled="disabled" #TotalIGSTAmount="ngModel"
                                                [(ngModel)]="Purchase.TotalIGSTAmount" name="TotalIGSTAmount"
                                                class="form-control">
                                        </div> -->

                                        <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>Total IGST Amount</mat-label>
                                        <input type="number" class="no-spinner" readonly matInput #TotalIGSTAmount="ngModel"
                                            name="TotalIGSTAmount" [(ngModel)]="Purchase.TotalIGSTAmount" autofocus>
                                    </mat-form-field>

                                        <!-- <div class="col-sm-2 form-group">
                                            <label class="form-label">Total Grand Amount <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" disabled="disabled" #TotalGrandTotal="ngModel"
                                                [(ngModel)]="Purchase.TotalGrandTotal" name="TotalGrandTotal"
                                                class="form-control">
                                        </div> -->

                                        <mat-form-field appearance="outline" class="col-sm-3">
                                        <mat-label>Total Grand Amount</mat-label>
                                        <input type="number" class="no-spinner" readonly matInput #TotalGrandTotal="ngModel"
                                            name="TotalGrandTotal" [(ngModel)]="Purchase.TotalGrandTotal" autofocus>
                                    </mat-form-field>

                                        <!-- <div class="col-sm-2 form-group">
                                            <label class="form-label">Paid Amount <span
                                                    class="text-danger">*</span></label>
                                            <input type="number" placeholder="Paid Amount" #PaidAmount="ngModel"
                                                [(ngModel)]="Purchase.PaidAmount" name="PaidAmount"
                                                (change)="calculateTotal(true)" class="form-control"
                                                [ngClass]="{'is-invalid': submitted && PaidAmount.invalid}" required
                                                autofocus>

                                            <div *ngIf="PaidAmount.invalid && (PaidAmount.dirty || PaidAmount.touched )"
                                                class="text-danger">
                                                <div *ngIf="PaidAmount.errors?.['required']">
                                                    Paid Amount is required.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-2 form-group">
                                            <label class="form-label">Dues Amount <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" disabled="disabled" #DuesAmount="ngModel"
                                                [(ngModel)]="Purchase.DuesAmount" name="DuesAmount"
                                                class="form-control">
                                        </div> -->



                                    </div>
                                </form>
                            </a>

                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <!-- <button type="button" class="btn btn-primary"
                            (click)="SaveReturnPurchaseProduct()">Sumbit</button> -->
                         <button type="submit" mat-raised-button class="mdc-button-final" color="primary" (click)="SaveReturnPurchaseProduct()">Sumbit</button>

                    </div>
                </div>
            </div>
        </div>

    </section>
</main>